# Default ignored files
/.idea
/*.class
/out/*
/*.iml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
target/classes/META-INF/MyBatis.kotlin_module
